body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 2em;
}
a {
  color: #009999;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 2em;
}
#content {
  display: flex;
  width: 1100px;
  margin: 60px auto;
}
#photo {
  float: left;
  margin: 0 40px;
}
p, ul {
  margin-top: 40px;
}
li {
  float: left;
  margin-right: 20px;
}

#cf {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
  margin-right: -35px;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}
